.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
row-gap: 30px;
}

.wrap_users_posts {
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
}

.users {
    border: solid 1px black;
    padding: 10px;
}

.posts {
    border: solid 1px red;
    padding: 10px;
}

.comments {
    border: solid 1px green;
    padding: 10px;
}