.d-flex {
    display: flex;
}

.simpson__character {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.img__container {
    max-width: 200px;
    max-height: 335px;
}

.simpson__img {
    width: 100%;
    height: 100%;
}

